body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}
button{
    cursor: pointer;
}
.chat-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%; 
    max-width: 400px; 
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s;
}

.chat-box {
    padding: 10px;
    height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

.user-message, .bot-message {
    margin: 5px 0;
}

.user-message {
    text-align: right;
}

.bot-message {
    text-align: left;
    color: blue;
}

/* Темная тема */
body.dark {
    background-color: #121212;
}
body.dark input{
    background-color: #121212;
    color: #ccc;
}
body.dark .wave-btn__waves:before{
    background-color: #121212;
}
.chat-container.dark {
    background-color: #1e1e1e;
    border-color: #444;
}

.bot-message.dark {
    color: #81d4fa;
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 600px) {
    .chat-box {
        height: 300px; /* Уменьшаем высоту для мобильных */
    }

    input[type="text"] {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}
.wrapper{
	width: 100%;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content:center;
	align-items: center;
}

.wave-btn {
	width: 280px;
	height: 60px;
	display: flex;
	overflow: hidden;
	position: relative;
	transition: all 0.8s ease 0s;
	justify-content:center;
	align-items: center;
	border-radius:10px;
	text-decoration: none;
}

.wave-btn:hover {
	border-radius: 10px;
	transition: all 0.8s ease 0.2s;
	box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}
.wave-btn:hover .wave-btn__waves{
	top: -50px;
}

.wave-btn__text {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: relative;
	z-index: 1;
}
.wave-btn__waves {
	position: absolute;
	width: 280px;
	height: 280px;
	background-color: #4973ff;
	top: 0;
	left: 0;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	transition: all 0.8s ease 0s;
	
}
.wave-btn__waves:after,
.wave-btn__waves:before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;
	transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
}

.wave-btn__waves:before{
	background-color: white;
	border-radius: 48%;
	animation: waves 5s infinite linear;
}
.wave-btn__waves:after{
	background-color: rgba(0,0,0,0.5);
	border-radius: 44%;
	animation: waves 10s infinite linear;
}

@keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		
	}
}
